*.txss
*.blg
*.log
*.aux
*.diff
*.swp
*.out
!tests/*.out
*.err
!tests/*.err
*.ll
!examples/*.ll
*.gz
*.toc
*.exe
*.native
source/.vs/
source/__pycache__/
source/_build/
pthreads-w32-2-9-1/
examples/pthreads-w32-2-9-1/
examples/.vs/
.vs/
*.pyproj
*.user
*.sln
*.vcxproj
*.filters
